.layout {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.caption {
    margin: 120px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;

    @media (max-width: 768px) {
        margin: 90px 0;
    }

    @media (max-width: 430px) {
        margin: 74px 0;
        font-size: 15px;
        letter-spacing: 6px;
    }

    @media (max-width: 1024px) and (orientation: landscape) {
        margin: 40px 0;
        font-size: 15px;
        letter-spacing: 6px;
    }
}